# Binaries
examples/auto_reconnect/auto_reconnect
examples/errors/errors
examples/local_routing/local_routing
examples/lwt/lwt
examples/middleware/middleware
examples/persistent/persistent
examples/persistence_filestore/persistence_filestore
examples/scram_auth/scram_auth
examples/simple/simple
examples/throughput/throughput
examples/throughput/paho_v3/paho_v3
examples/throughput/paho_v5/paho_v5
examples/tls/tls
examples/topic_aliases/topic_aliases
examples/v5_properties/v5_properties
examples/v5_request_response/v5_request_response
examples/websocket/websocket
examples/wildcards/wildcards
/bin
/dist
*.exe
*.test
*.out
coverage.html
coverage.txt

# IDEs
.idea/
.vscode/
.antigravitycli/

# Dependency directories
vendor/

